doctype html
html
    head
        title
            | Your IP
        meta(charset='utf-8')
        meta(name='viewport',
             content='width=device-width, initial-scale=1')
    body
        div
            | Your IP: #{ip}
        div
            a(href='/key') Download key
        br
        div
            a(href='/') Go Back